{
  "msg_type": "interactive",
  "card": {
    "config": {
      "wide_screen_mode": true
    },
    "elements": [
      {
        "fields": [
          {
            "is_short": true,
            "text": {
              "content": "**⚓ Namespace: **\n{{.CommonLabels.Namespace}}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🚨 当前状态：**\n{{.Status}}",
              "tag": "lark_md"
            }
          }
        ],
        "tag": "div"
      },
      {
        "tag": "hr"
      },
    {{- range $alert := .Alerts }}
      {
        "tag": "hr"
      },
      {
        "fields": [
          {
            "is_short": true,
            "text": {
              "content": "**🚩 告警类型：**\n{{ $alert.Labels.Alertname }}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🚦 告警级别：**\n{{ $alert.Labels.Severity }}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🚨 当前状态：**\n{{ $alert.Status }}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🔢 事件 ID：**\n{{ $alert.Fingerprint }}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🕐 开始时间：**\n{{ $alert.StartsAt }}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🕐 结束时间：**\n{{ $alert.EndsAt }}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🎯 监控端点：**\n{{or $alert.Labels.Endpoint "None"}}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🚀 实例：**\n{{or $alert.Labels.Instance "None"}}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**📦 Pod:**\n{{or $alert.Labels.Pod "None"}}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**🧩 Container:**\n{{or $alert.Labels.Container "None"}}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**📈 监控数据：**\n[generatorURL]({{ $alert.GeneratorURL }})",
              "tag": "lark_md"
            }
          },
          {
            "is_short": true,
            "text": {
              "content": "**📓 处理指引：**\n[runbooks]({{ $alert.Annotations.RunbookUrl }})",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "**📋 摘要：**\n{{ $alert.Annotations.Summary }}",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "",
              "tag": "lark_md"
            }
          },
          {
            "is_short": false,
            "text": {
              "content": "**📋 详情：**\n{{ $alert.Annotations.Description }}",
              "tag": "lark_md"
            }
          }
        ],
        "tag": "div"
      },
    {{- end }}
      {
        "tag": "hr"
      },
      {
        "tag": "hr"
      }
    ],
    "header": {
      "template": "turquoise",
      "title": {
        "content": "恢复 ✅",
        "tag": "lark_md"
      }
    }
  }
}
